* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Vibur', cursive;
    
}

body {
    background-image: url("bordes.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    background-size: cover;
}

header {
    background-color: rgba(177, 25, 25, 0.829);
    text-align: center;
    margin: auto;
    padding: 10px;
    color: rgb(236, 217, 217);
 }
    header h1 {
        font-size: 120px;
        margin-top: 10px; 
        letter-spacing: 18px;
    }
    header h2 {
        font-size: 40px;
        padding: 5px;
        letter-spacing: 3px;
    }
    header p {
        font-size: 30px;
        padding: 5px;
        letter-spacing: 3px;
        
    }

.contenido1 {
    display: flex;
}
.contenido1 img {
    width: 100%;
    float: right;
}

.caja1 {
    flex-flow: wrap;
    border: 1px solid black;
    width: 70%;
    text-align: center;
    margin: 60px;
    margin-top: 4%;
    margin-left: 80px;
    background-color: rgba(255, 255, 255, 0.527);
    box-shadow: 0 0 10px rgb(177, 25, 25)
    

}
.texto {
    width: 100%;
    text-align: center;
}    
.texto p{
        width: 90%;
        font-size: 35px;
        text-align: center;
        margin: 5%;
        margin-right: 10%;
        line-height: 39px;
    }
    .texto p2 {
        font-size: 10px;
        width: 100%;
    }
    .caja1 div img {
        width: 100%;
        margin-top: 5%;
    }


    
.contenido2 {
    display: flex;
    width: 100%;
}
    .form {
        border: 1px solid black;
        width: 65%;
        padding: 25px;
        text-align: center;
        margin-right: 5%;
        margin-bottom: 5%;
        background: rgba(177, 25, 25, 0.63);
        box-shadow: 0 0 10px rgb(177, 25, 25)
    }

#form div{
    padding: 8px;
    background: rgba(255, 255, 255, 0.336);
    text-align: start;
    border-radius: 10px;
}

#form{
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
    
}
    #form div {
        margin-bottom: 20px;
    }

    #form input {
        width: 100%;
        padding: 10px;
        border: none;
        box-sizing: border-box;
        border-radius: inherit;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    #form select {
        width: 100%;
        padding: 10px;
        border: none;
        box-sizing: border-box;
        border-radius: inherit;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #form textarea {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: none;
        box-sizing: border-box;
        border-radius: inherit;
        resize: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    


.contenido2 img {
    width: 55%;
    margin-left: 5%;  
    float: inline-end;
}
.contenido2 div img {
    width: 85%;
    margin-top: 10%;
    margin-left: 10%;
}
        


footer{
    width: 94%;
    padding: 3%;
    background-color: rgba(177, 25, 25, 0.829);
    font-family: Arial, Helvetica, sans-serif;
 }
    p2 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
